.price {
  display: flex;

  &__icon {
    width: 17px;
  }

  &__old {
    color: var(--color-grey);
    position: relative;

    &:after {
      content: '';
      position: absolute;

      top:55%;
      translate: 0 -50%;

      width: 95%;
      height: 1px;

      background-color: var(--color-grey);
    }
  }
}

