@import '@styles/styles';

.product_card {
  max-width: 336px;

  &__on_sale {
    position: relative;

    &:after {
      content: 'Скидка';

      position: absolute;
      top: 11px;
      left: 0;

      background: var(--color-red);
      padding: 3px 16px;

      color: var(--color-light);
      font-weight: 500;
      font-family: var(--second-family), sans-serif;
      font-size: 14px;
      letter-spacing: 0.01em;
    }
  }

  &__image {
    margin-inline: auto;
  }

  &__body {
  }

  &__code {
    font-size: 10px;
    margin-bottom: 6px;
    color: var(--color-grey);

    &__hidden {
      opacity: 0;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;

  }

  &__more_info {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__price_list {
    display: flex;
    column-gap: 9px;
  }

  &__price_item {
  }

  &__button_list {
    display: flex;
    column-gap: 11px;
  }

  &__button_item {
  }

  &__button {
    --padding-X: 5px;
    box-sizing: content-box;
    background: transparent;
    border: none;
    margin: 0;
    padding: 5px;
    width: 22px;
    transition-duration: var(--duration);

    &__success {
      color: var(--color-green);
    }

    &_icon__favorite {
      stroke: var(--color-red);
      fill: var(--color-red);
    }

    @include hover {
      opacity: 0.6;
    }
  }
}