@import "@styles/styles";

.navigation {
  --columnGap: 35px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: var(--columnGap);

    @include tablet {
      --columnGap: 25px;
    }
  }

  &__item {
    &:not(:last-child) {
      color: var(--color-grey-link);

      position: relative;

      &:after {
        content: "/";
        position: absolute;
        top: 0;
        right: calc(var(--columnGap) / 2 * -1);
      }
    }

    &:last-child {
      color: var(--color-dark);
    }
  }

  &__link {
    text-decoration: none;
    transition-duration: var(--duration);
    color: inherit;

    @include fluid-text(16, 14);

    @include hover {
      opacity: 0.8;
    }
  }
}
