@import "@styles/styles";

.products {
  composes: container;

  @include mobile {
    padding-inline: 5px;
  }

  &__header {
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__body {

  }

  &__search_list {
    display: flex;
    column-gap: 24px;

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }

    @include mobile-s {
      align-items: center;
    }
  }

  &__search_item {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    @include mobile-s {

    }
  }

  &__search_text {
    padding-left:16px;
  }

  &__search_select {
    width: 288px;
  }

  &__list {
      display: grid;
      gap:40px 48px;
      grid-template-columns: repeat(4, 1fr);

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap:15px 20px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap:15px 15px;
    }

    @include mobile-s {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  &__item {

  }
}